/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, sans-serif;
  background-color: rgb(12, 58, 31);
}

img {
  width: 100%;
}

/* utilities */


/* contents */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  padding: 15px;
  margin: 10px 0px;
  background-color: bisque;
  border-radius: 10px;
}

.button-container span {
  color: black;
}

#game-start-btn {
  margin-right: 25px;
  background-color: white;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

#grid div {
  color: yellow;
  font-size: 3rem;
}

.cell {
  background-color: white;
  border: 2px solid black;
  padding: 50px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.easy {
  width: calc(100% / 10);
  height: 118px;
}

.cell.medium {
  width: calc(100% / 9);
  height: 131px;
}

.cell.hard {
  width: calc(100% / 7);
  height: 171px;
}

.cell.free {
  background-color: aqua;
}

.cell.bomb {
  background-color: red;
}

.grid-container {
  position: relative;
}

.grid-container .message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(120, 120, 120, 0.8);
  color: black;
  text-align: center;
}

.grid-container .message.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* effects */

#game-start-btn:active {
  transform: scale(0.95);
}